
html {
  background-color: #fff  /*f8f7f2*/;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
  font-size: 42px;
  font-weight: 300;
  margin:  0;
  text-align: center;
}

h2 {
  font-size: 22px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
}

.chartwrapper {
  height: 550px;
}

.chart {
  display: block;
  margin: 0 auto;
}

.description {
  color:  #777;
  margin: 0 auto;
  padding: 20px 100px 20px 0;
  width: 600px;
}

.tooltip {
  background-color: #fff;
  border: 1px #777 solid;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(128,128,128,0.5);
  opacity: 0.85;
  padding: 10px;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 10;
}

.tooltip h2 {
  text-align: left;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #000;
}
.axis text {
  font-size: 12px;
}

.labelX, .labelY {
  font-size: 16px;
}
.labelX {
  text-anchor: middle;
}

.divider {
 stroke-width:  0.5;
 stroke: #000;
 stroke-dasharray: 5,5;
}

.nav {
  margin: 20px auto;
  padding: 0;
  width: 720px;
}
.nav li {
  background: #f8f8f8;
  border: 1px #ccc solid;
  color: #aaa;
  cursor: pointer;
  display: inline;
  font-size: small;
  list-style-type: none;
  padding: 10px 17px;
}
.nav li:first-child {
  border-radius: 4px 0 0 4px;
}
.nav li:last-child {
  border-radius: 0 4px 4px 0;
}
.nav li.active {
  background: #ddd;
  border-color: #777;
  box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
  color: #000;
}

.key {
}
.key-title {
  font-weight: bold;
}
.key text {
  font-family: sans-serif;
  shape-rendering: crispedges;
}
.key circle {
  stroke: black;
  stroke-width:  1;
  fill: rgba(128,128, 128, 0.2);
}

.label-victor {
  font-size:  14px;
  font-weight:  bold;
}
.label-obama {
  fill: blue;
}
.label-romney {
  fill: red;
}

circle {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}
circle.match {
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
circle.nomatch {
  visibility: hidden;
  opacity: 0;
}

path.loess {
  stroke: #000;
  stroke-width: 2px;
  fill: none;
}